/* colors */
$black: #2B2A29;
$blue: #005DB4;
$blueBorder: #93B8DB;
$blueLight: #E8EEF1;
$grey: #A4A4A3;
$greyBorder: #E7E7E7;
$greyDark: #7C7B7B;
$greyLight: #EAEAEA;
$orange: #FE5603;
$white: #FFFFFF;